#main { 
    background: url(arch.png) center no-repeat;
    background-size: cover;
    height: 400px;
    color: black;
    padding-top: 100px;
}

.text {
    background: grey;
    padding: 10px;
    width: 50%;
    text-align: center;
    margin: 0 auto;
    border-radius: 10px;
    opacity: 0.9;
    filter: alpha(opacity=90);
}

span {
    font-style: italic;    
}

p {
    font-size: 2em;
}